.hints {
  display: flex;
}

.translate-block {
  padding: 1rem;
  background-color: rgb(98, 98, 98);
  border-radius: 30px;
  text-align: center;
  font-size: 17px;
  color: white;
  transition: all linear 150ms;
}
.audio {
  width: 200px;
  height: 30px;
}
