.switches {
  align-self: flex-end;
  display: flex;
  gap: 10px;
}

.switch {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-size: 10px;
  cursor: pointer;
  color: white;
  width: 50px;
  padding: 0.3rem;
  border-radius: 30px;
  height: 30px;
  background-color: teal;
}

.disabled {
  background-color: gray;
}

.audio-hint {
  background-color: brown;
}

.translate-hint {
  background-color: teal;
}
