.check-button {
  cursor: pointer;
  user-select: none;
  width: 100px;
  height: 50px;
  background-color: rgb(39, 22, 146);
  color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all linear 300ms;
}

.check-button.disabled {
  pointer-events: 'none';
  cursor: default;
  background-color: rgb(202, 202, 202);
  color: gray;
}
