.idk-button {
  cursor: pointer;
  user-select: none;
  width: 100px;
  height: 50px;
  background-color: rgb(172, 3, 3);
  color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
